@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Lato:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}

body {
    background:  #2F2A2A;
    height: 100vh;
    width: 100%;
    font-family: 'Amatic sc', sans-serif;
}

#header{
    width: 100%;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    color: #D8D8D8;
}

header ul {
    display: flex;
    list-style: none;
    align-items: center;
    text-align: center;
}

header ul li a{
    padding:  1rem;
    font-size: 25px;
}

header ul li:hover{
    border-bottom: #616060 solid 1px;
}

#header input {
    width: 100px;
    padding: 5px;
    border-radius: 15px;
    border: none;
    font-size: 12px;
    transition: all .2s ease-in-out;
}

#header input:focus{
    padding: .565rem;
    box-shadow: 0 4px 8px rgba(5, 5, 5, 0.2);
    outline: #6e6969 solid 3px;
}

#header div{
    position: relative;
    display: flex;
    align-items: center;
}

#button{
    background-image: url('../lupa.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 0;
}

#section {
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

#section span{
    color: red;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    text-align: center;
}

#cards{
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    gap: 2rem;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #17151584;
    border-radius: 8px;
    padding: 1rem 1rem 3rem 1rem;
    color: white;
    font-size: 14px;
    line-height: 16px;
    width: 300px;
    font-family: 'Lato', sans-serif;
}

.card h3{
    font-size: 18px;
    text-align: center;
}

.card img {
    margin-block: 10px;
}

.card p {
    margin-bottom: 10px;
}

.card button {
    position: absolute;
    bottom: 8px;
    left: 20%;
    display: block;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    padding: .525rem;
    background-color: #8b4513a8;
    width: 60%;
    transition: all .3s ease;
}

.card button:hover{
    transform: scale(1.1);
    box-shadow: 0 4px 6px rgba(0,0,0,0.4);
}

section button {
    display: none;
    border: none;
    border-radius: 8px;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    padding: .625rem;
    background-color: #8b4513a8;
    margin-top: 20px;
    transition: all .3s ease;   
}

section button:hover{
    box-shadow: 0 4px 6px rgba(0,0,0,0.4);
}

#modal {
    display: none;
    align-items: center;
    justify-content: center;
    left: 0;
    top: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
  
#modal-content {
    background-color: #fefefe79;
    border-radius: 8px 8px 0 8px;
    position: fixed;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    height: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
}

#modal-content span{
    text-align: center;
    width: 20px;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    top: -3px;
    right: -3px;
    font-size: 18px;
    cursor: pointer;
    font-family: 'lato', sans-serif;
}

#modal-content p{
    color: rgb(255, 0, 0);
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}
  
#video {
    position: fixed;
    width: 85%;
    height: 45%;
    border-radius: 8px;
}
  
footer {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
  
footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    text-decoration: none;
}
  
footer img {
    height: 20px;
    margin-right: 5px;
} 

@media screen and (min-width: 450px){
    #section span{
        font-size: 18px;
    }

    .card {
        font-size: 16px;
        width: 400px;
    }
    
    .card h3{
        font-size: 22px;
    }
    
    .card p {
        margin-bottom: 15px;
    }
    
    .card button {
        font-size: 18px;
    }
    
}

@media screen and (min-width: 1024px){
    #header{
        font-size: 30px;
    }
    
    header ul li a{
        font-size:35px;
    }
    
    #header input {
        width: 200px;
        padding: 6px;
        font-size: 16px;
    }
    
    #section{
        min-height: 75vh;
    }

    #section span{
        font-size: 22px;
    }

    #cards{
        grid-template-columns: 1fr 1fr;
    }

    .card {
        font-size: 18px;
        line-height: 22px;
    }
    
    .card h3{
        font-size: 24px;
    }
    
    .card p {
        margin-bottom: 20px;
    }
    
    .card button {
        font-size: 20px;
    }

    #modal-content {
        height: 70%;
    }

    #modal-content p{
        font-size: 30px;
    }

    #video {
        height: 65%;
    }

    footer {
        font-size: 26px;
    }
      
    footer img {
        height: 30px;
    } 
}

@media screen and (min-width: 1150px) {
    .card{
        width: 450px;
    }
}

@media screen and (min-width: 1366px){
    
    #header input {
        width: 300px;
        font-size: 18px;
    }

    #section span{
        font-size: 24px;
    }

    #cards{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .card {
        width: 400px;
        font-size: 20px;
        line-height: 26px;
    }
    
    .card h3{
        font-size: 26px;
    }
    
    .card button {
        font-size: 24px;
    }

    section button {
        font-size: 26px;
        padding: .825rem;  
    }

    footer {
        font-size: 30px;
    }
      
    footer img {
        height: 30px;
    } 
}

@media screen and (min-width: 1600px) {
    .card{
        width: 450px;
    }
}

@media screen and (min-width:1800px){
    #section span{
        font-size: 28px;
    }

    #cards{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .card {
        font-size: 26px;
        width: 420px;
    }
    
    .card h3{
        font-size: 28px;
    }
    
    .card button {
        font-size: 26px;
        padding: .765rem;
    }

    section button {
        font-size: 28px; 
    }

    footer {
        font-size: 40px;
    }
      
    footer img {
        height: 45px;
    } 
}

@media screen and (min-width: 2000px) {
    .card{
        width: 450px;
    }
}

@media screen and (min-width:2300px){
    #section span{
        font-size: 40px;
    }


    #cards{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }

    .card{
        width: 400px;
    }

    footer {
        font-size: 44px;
    }
      
    footer img {
        height: 45px;
    } 
}